.octopusviewer-viewer {
    --octopusviewer-font-size: 14px;
    --octopusviewer-line-height: 1.3;
    --octopusviewer-border-color: #e0e0e0;
    --octopusviewer-thumbnail-size: 50px;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: var(--octopusviewer-font-size);
    height: 100%;
    line-height: var(--octopusviewer-line-height);
    overflow: hidden;
}

.octopusviewer-header {
    align-items: center;
    border-bottom: 1px solid var(--octopusviewer-border-color);
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.octopusviewer-header .octopusviewer-title {
    font-size: 1.4em;
    font-weight: bold;
}

.octopusviewer-fullscreen {
    cursor: pointer;
}

.octopusviewer-body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 0;
    overflow: hidden;
}
.sidebar:not(.collapsed) {
    min-width: 100px;
}

/* Enable transitions only after initial load */
.loaded .sidebar {
    transition-property: flex-basis, min-width;
    transition-duration: 0.5s;
}
.loaded .collapse-toggle i::before {
    transition-property: transform;
    transition-duration: 0.5s;
}

.sidebar-left {
    border-right: 1px solid var(--octopusviewer-border-color);
}
.sidebar-right {
    border-left: 1px solid var(--octopusviewer-border-color);
}

.sidebar.collapsed {
    flex-basis: 24px;
}

.sidebar .collapse-toggle {
    cursor: pointer;
    padding: 6px;
    line-height: 12px;
}

.sidebar-right .sidebar-header {
    text-align: right;
}
.sidebar-right .collapse-toggle i::before {
    transform: rotateY(180deg);
}

.collapse-toggle:hover {
    background-color: #e9e9e9;
}

.collapsed .collapse-toggle {
    flex-grow: 1;
    vertical-align: center;
}
.collapsed .collapse-toggle i::before {
    transform: rotateY(180deg);
}
.sidebar-right.collapsed .collapse-toggle i::before {
    transform: rotateY(0deg);
}

.sidebar-content {
    overflow-y: auto;
}

.sidebar.collapsed .sidebar-content {
    display: none;
}

.sidebar.hidden {
    display: none;
}

.octopusviewer-media-selector-element {
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    height: var(--octopusviewer-thumbnail-size);
    padding: 6px;
}
.octopusviewer-media-selector-element:hover {
    background-color: #e9e9e9;
}

.octopusviewer-media-selector-element .octopusviewer-thumbnail {
    align-items: center;
    display: flex;
    flex-basis: var(--octopusviewer-thumbnail-size);
    flex-shrink: 0;
    justify-content: center;
    margin-right: 1em;
    width: var(--octopusviewer-thumbnail-size);
}

.octopusviewer-media-selector-element .octopusviewer-thumbnail img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.octopusviewer-media-selector-element .octopusviewer-title {
    align-items: center;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}

.octopusviewer-media-selector-element .octopusviewer-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.octopusviewer-media-selector-element.octopusviewer-selected {
    background-color: #f0f0f0;
}

.octopusviewer-media-info-metadata {
    padding: 6px;
}

.octopusviewer-media-info dl {
    margin: 0;
}

.octopusviewer-media-info .value {
    margin-bottom: .5em;
}

.octopusviewer-media-info .property {
    margin-bottom: 1em;
}

.octopusviewer-media-info .property h4 {
    margin: 0;
}

.octopusviewer-media-info .property dt {
    font-weight: bold;
}
.octopusviewer-media-info .property dd {
    margin-left: 0;
}

.octopusviewer-media-view {
    background-color: #f0f0f0;
    flex-grow: 1;
    overflow: hidden;
}

.octopusviewer-media-view .media-render {
    height: 100%;
}

.octopusviewer-media-view .media-render iframe {
    /* !important because height can be changed by fixIframeAspect, we do not want that */
    height: 100% !important;

    width: 100%;
}

.octopusviewer-media-view .media-render audio,
.octopusviewer-media-view .media-render video {
    height: 100%;
    width: 100%;
}

[class*=octopusviewer-icon-] {
    display: inline-block;
    line-height: 0;
}
[class*=octopusviewer-icon-]:before {
    display: block;
}

.octopusviewer-icon-fullscreen::before {
    content: url(../image/fullscreen.png);
}
.octopusviewer-icon-collapse::before {
    content: url(../image/collapse.png);
}
