#openFile, #secondaryToolbar #secondaryOpenFile {
    display: none;
}

#print, #secondaryToolbar #secondaryPrint {
    display: none;
}

#download, #secondaryToolbar #secondaryDownload {
    display: none;
}

#download + .verticalToolbarSeparator,
#secondaryDownload + .horizontalToolbarSeparator {
    display: none;
}

#editorModeButtons, #editorModeSeparator {
    display: none;
}
